body { 
    background-color: #30303d; 
    color: #fff; 
}
div.container-main {
    padding: 15px; 
}
h1.display-title {
    font-size: 1.75em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: lighter;
}
#chartdiv {
    width: 100%;
    height: 550px;
}

hr.rule-4 {
    border: 1px solid #FFF;
}

h3.display-5 {
    font-weight: lighter;
}

i.verified {
    display: inline;
    font-size: 0.75em;
    color: #6cc9ff;
}

i.verified-2 {
    display: inline;
    font-size: 1em;
    color: #6cc9ff;
}

i.verified-2:hover {
    cursor: pointer;
}

button#graphMode {
    display: flex;
    position: relative;
    float: right;
}

a#profile {
    text-decoration: none;
    font-weight: bold;
    font-size: 1em;
    color: #FFF; 
}

div#modalExemplo {
    color: #000; 
}

div.rounded-circle {
    background: #30303d;
}

img#img-profile {
    width: 150px;
    height: 150px;
}

div.text-content {
    display: inline-flex;
    margin-left: 5px;
}

a#link_about_alert {
    text-decoration: none;
    color: #000; 
}